.textarea-ans{
    
    margin-right: 5em;
    margin-left: 2em;
}
.textarea-ans:focus{
    border-bottom: 1.5px solid #4e73df;

}
.answer-icon{
    margin-right: 0.5em;
}
.green{
    color: green;
}
.white{
    color: white;
}