
.bg-login-image{
    background: url('../img/form-tracking1.png');
    background-position:center ;
    background-repeat: no-repeat;
}
.pro-image{
    background-image: url('../img/undraw_profile_3.jpg');
}

    html,body,#root,.app {
    margin: 0;
    height: 100%;
    
  }
 
.hh{
    height: 100%;
}
