.flex-box {
  height: 30vh; /*vh - אחוזי גובה*/
  
  display: flex;
  /*מגדיר שאם התוכן של המיכל גדול מהמיכל המיכל יגדל בהתאם ויכיל את התוכן*/
  flex-wrap: wrap;
  /*מגדיר איך להשתמש ברווח שנותר)מגדיר את הסידור לרוחב של האלמנטים שבתוך המיכל)*/
  justify-content: space-evenly;
  /*מגדיר איך להשתמש ברווח שנותר)מגדיר את הסידור לאורך של האלמנטים שבתוך המיכל)*/
  align-items:center ;
}