.context{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-color{
    color: rgb(78, 115, 223);
    margin: 0.5em 0;
}
.del-butten{   
     margin-left: 0.5em;
    color: white;
    padding: 0.42em;
    background-color: #4e73df;

}
textarea{
    border: none;
    resize: none;
    width: -webkit-fill-available;
    max-width: 70%;
    outline: none;
    height: 2em;
}
textarea:focus{
    border-bottom: 3px solid #4e73df;

}
  
.textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
  }


  .tooltipp {
    position: relative;
    display: inline-block;
  }
  
  .tooltipp .tooltiptext {
    visibility: hidden;
    background-color: #5f6368;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px ;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -50px;
    font-size: small;
    opacity: 0.8;
  }
  
  .tooltipp .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #5f6368 transparent transparent transparent;
    
  }
   .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    
  }
  .tooltipp:hover .tooltiptext {
    visibility: visible;
  }
 
  
  
  





  /* //////////////////////// */
 